.section-explore{
    height: 461px;
    background-color: #C0F3FF;
    &__info{
        margin-left: 141px;
        margin-right: 141px;
        position: relative;
        &__medal{
            position: absolute;
            background: url("/assets/img/Icon\ awesome-medal.svg");
            background-repeat: no-repeat;
            background-size: contain;
            height: 59px;
            width: 59px;
        }
        &__recommended{
            position: absolute; 
            left: 69px;
            top: 27px;
            background-color: #FE9200;
            color: #FFFFFF;
            font: normal normal bold 10px/12px Verdana;
            letter-spacing: 0px;
            padding: 5px;
            border-radius: 2px;
        }

        &__content {
            width: 100%;
            height: 461px;
            display: flex;
        
            &__text {
                // background-color: blue;
                flex: 0 0 45%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 60% */
                text-align: left;
                font: normal normal bold 25px/30px Montserrat;
                letter-spacing: 0px;
                display: flex;
                justify-content: center;
                margin-top: 128px;
                
                &__text {
                    width: 386px;
                    height: 90px;
                }
            }
        
            &__card {
                
                
                flex: 0 0 45%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 40% */
                align-items: center;
                justify-content: left;
                display: flex;

                &__card {
                    margin-left: 20px;
                    width: 352px;
                    height: 402px;
                    border-bottom: 5px solid #A5D7E1; 
                    &__header {
                        width: 352px;
                        height: 158px;
                        position: relative;
                        background-image: url("/assets/img/group2.png");
                        background-size: cover;
                        &__icon{
                            font-size: 22px;
                            color: #00C83C;
                            position: absolute;
                            right: 17px;
                            top: 17px;  
                        }
                        &__text{
                            position: absolute;
                            background-color: #C0F3FF;
                            border-radius: 3px;
                            height: 20px;
                            padding: 2px;
                            box-sizing: border-box;
                            font: normal normal bold 10px/12px Verdana;
                            top: 17px;  
                            left: 17px;
                            color: #3F3F3F;
                            width: 124px;
                            padding-left: 10px;
                        }
                    }
                    &__body {
                       
                        &__text {
                            font: normal normal  18px/23px Montserrat;
                            margin-left: 22px;
                            margin-right: 44px;
                            padding-top: 19px;
                        }
                        &__link {
                            margin-left: 22px;
                            margin-right: 44px;
                            padding-top: 19px;
                            margin-bottom: 25px;
                            font: normal normal 600 16px/17px Montserrat;
                            color: #00C83C;
                            &__a{
                                color: #00C83C; 
                                &:visited{
                                    color: #00C83C; 
                                }
                            }
                        }
                        &__info {
                            font: normal normal normal 12px/23px Verdana;
                            margin-left: 22px;
                            margin-right: 44px;
                            padding-top: 19px;
                            &__content {
                                display: flex;
                                &__img{
                                    flex: 1 1 10%;
                                }

                                &__txt{
                                    flex: 1 1 90%;
                                    
                                }
                            }
                        }
                       
                    }
                }
                &__button {                
                    background-image: url('/assets/img/right.png');
                    width: 40px;
                    height: 40px;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                   
                } 
            }
            
        }
    }
}
.card{
    box-shadow: none;

}