<section class="section-explore">
    <div class="section-explore__info">
        <div class="section-explore__info__medal">
        </div>
        <div class="section-explore__info__recommended">
            Productos recomendados
        </div>
        <div class="section-explore__info__content">
            <div class="section-explore__info__content__text">
                <div class="section-explore__info__content__text__text">
                    ¡Te recomendamos estos productos para <span class="text-orange">Conocer sobrino!</span>
                </div>
            </div>
            <div class="section-explore__info__content__card">
                <div class="card section-explore__info__content__card__card">
                    <div class="card section-explore__info__content__card__card__header">
                        <div class="section-explore__info__content__card__card__header__text">
                            Ahorro e inversion
                        </div>
                        <div class="section-explore__info__content__card__card__header__icon">
                            <i class="fa fa-heart-o"></i>
                        </div>
                    </div>
                    <div class="card section-explore__info__content__card__body">
                        <div class="section-explore__info__content__card__card__body__text">
                            ¡Fondo de inversión Colectiva, <span class="text-bold">la acción para potenciar tu capital y hacer real tu objetivo!</span>
                        </div>
                        <div class="section-explore__info__content__card__card__body__link">
                            <a href="" class="section-explore__info__content__card__card__body__link_a">Conoce más</a>
                        </div>
                        <div class="section-explore__info__content__card__card__body__info">
                            <div class="section-explore__info__content__card__card__body__info__content">
                                <div class="section-explore__info__content__card__card__body__info__content__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.006" height="16.006" viewBox="0 0 16.006 16.006">
                                        <g id="world" transform="translate(-408.997 -610.997)">
                                          <g id="Web">
                                            <path id="Trazado_4" data-name="Trazado 4" d="M411.4,613.4a8,8,0,1,1,0,11.2A7.981,7.981,0,0,1,409,619,7.266,7.266,0,0,1,411.4,613.4Zm6.667,12a3.276,3.276,0,0,0,2-1.2,5.823,5.823,0,0,0,.933-2.8,2.209,2.209,0,0,0-.667-1.6,2.346,2.346,0,0,0-1.733-.8h-1.333a3.892,3.892,0,0,1-1.2-.267,1.207,1.207,0,0,1-.4-.933.691.691,0,0,1,.267-.533,1.007,1.007,0,0,1,.533-.267.911.911,0,0,1,.667.4c.267.133.4.267.533.267a.534.534,0,0,0,.666-.667,2.125,2.125,0,0,0-.667-1.333,5.514,5.514,0,0,0,.667-2.533.288.288,0,0,0-.267-.267A4.128,4.128,0,0,0,417,612.6a6.676,6.676,0,0,0-3.467,1.067,3.354,3.354,0,0,0-1.2,2.667,3.413,3.413,0,0,0,1.067,2.533,3.645,3.645,0,0,0,2.533,1.066h0v.533a1.714,1.714,0,0,0,.534,1.334,1.94,1.94,0,0,0,1.2.8V625c0,.133,0,.133.133.267S417.933,625.4,418.067,625.4Z" fill="#02b1ff"/>
                                          </g>
                                        </g>
                                      </svg>                                      
                                </div>
                                <div class="section-explore__info__content__card__card__body__info__content__txt">Rentabilidades mínimas del <span class="text-bold">3% anuales</span></div>
                            </div>
                            <div class="section-explore__info__content__card__card__body__info__content">
                                <div class="section-explore__info__content__card__card__body__info__content__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <g id="profile" transform="translate(-275.998 -840.328)">
                                          <g id="Profile-2" data-name="Profile" transform="translate(-253.002 309.328)">
                                            <path id="Unión_1" data-name="Unión 1" d="M529,547v-2c0-2.2,3.6-4,8-4s8,1.8,8,4v2Zm4-12a4,4,0,1,1,4,4A4,4,0,0,1,533,535Z" fill="#02b1ff"/>
                                          </g>
                                        </g>
                                      </svg>                                      
                                </div>
                                <div class="section-explore__info__content__card__card__body__info__content__txt"><span class="text-bold">4.000 clientes</span> confían en este producto</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>