<div class="section1">
    <div class="section1__header">
        <div class="section1__header__links">
            <div class="section1__header__links__link">
                <div class="section1__header__links__link__icon">
                    <i class="fa fa-home"></i>   
                </div>
                <div class="section1__header__links__link__text">
                    Ir al incio
                </div>
            </div>
        </div>
        <div class="section1__header__goal">
            <div class="section1__header__goal__title">
                <div class="section1__header__goal__title__title">
                    ¡Tu objetivo ha sido agregado exitosamente!
                </div>
                <div class="section1__header__goal__title__subtitle">
                    ¡Te hemos enviado un correo con la notificación!
                </div>
            </div>
            <div class="section1__header__goal__card card">
                <div class="section1__header__goal__card__category">
                    <div class="section1__header__goal__card__category__info">
                        <div class="section1__header__goal__card__category__info__know">Conocer mi sobrino</div>
                        <div class="section1__header__goal__card__category__info__know2">Categoría: Bienestar</div>
                    </div>
                    <div class="section1__header__goal__card__category__link">
                        Revisar objetivo
                    </div>
                </div>
                <div class="section1__header__goal__card__goals">
                    <div class="section1__header__goal__card__goals__info">
                        <div class="section1__header__goal__card__goals__info__title">
                            En esta fecha:
                        </div>
                        <div class="section1__header__goal__card__goals__info__card section1__header__goal__card__goals__info__card--blue">
                            Diciembre/2022
                        </div>
                    </div>
                    <div class="section1__header__goal__card__goals__info">
                        <div class="section1__header__goal__card__goals__info__title">
                            Lograrás:
                        </div>
                        <div class="section1__header__goal__card__goals__info__card section1__header__goal__card__goals__info__card--orange">
                            $6.000.000
                        </div>
                    </div>
                    <div class="section1__header__goal__card__goals__info">
                        <div class="section1__header__goal__card__goals__info__title">
                            <i class="fa fa-star star"></i>
                            Ya cuentas con:
                        </div>
                        <div class="section1__header__goal__card__goals__info__card section1__header__goal__card__goals__info__card--green">
                            $0
                        </div>
                    </div>
                </div>
                <div class="section1__header__goal__card__text">
                    <div class="section1__header__goal__card__text__circle">
                        <i class="fa fa-check" style="color: white;"></i>
                    </div>
                    <div class="section1__header__goal__card__text__text">
                        ¡Asocia productos para monitorear su progreso!
                    </div>
                </div>
                <div class="section1__header__goal__card__image"></div>
            </div>
            <div class="section1__header__goal__text">
                <div class="section1__header__goal__text__title">
                    ¡Vamos por esos <span class="text-orange">$6.000.000</span> para <span class="text-orange">Conocer mi sobrino</span>!
                </div>
                <div class="section1__header__goal__text__subtitle">
                    ¡A través de tus productos y nuestros rendimientos podremos lograrlo!
                </div>
                <div class="section1__header__goal__text__products">
                    <div class="section1__header__goal__text__products__text">
                        Asocia tus productos o adquiere uno nuevo.</div>
                        <div class="section1__header__goal__text__products__faq">
                        
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
