.card-info{
    
    width: 352px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    opacity: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    &--border-green{
        border-bottom: 5px solid #A4D071;
    }
    &--border-blue-sky{
        border-bottom: 5px solid #A5D7E1;
    }
    &--border-blue-black{
        border-bottom: 5px solid #63AABC;
    }
    &--border-orange{
        border-bottom: 5px solid #FF9460;
    }
    &--background-blue{
        // background-image: url("/assets/img/group.png");
        background-size: cover;
        background-color: #E8EEF8;
    }
    &__rectangle{
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
    &__title{
        margin-top: 50px;
        font: normal normal 18px/23px Montserrat;
        letter-spacing: 0px;
        color: #3F3F3F;
        &__main{
            font-weight: bold;
        }
        &__number{
            margin-top: 5px;
        }
    }

    &__line{
        background-color: #00000029;
        height: 2px;
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__service{
        text-align: left;
       
        letter-spacing: 0px;
        &__main{
            font: normal normal bold 18px/23px Montserrat;
        }
        &__number{
            font: normal normal medium 18px/23px Montserrat;
            color: #00C83C;
            margin-top: 5px;
        }
    }

    &__text{
        background-color: #EDEDED;
        height: 91px;
        width: 100%;
        margin-top: 50px;
        letter-spacing: 0px;
        position: relative;
        &__text{
            font-size: 12px;
            padding-top: 25px;
            padding-left: 10px;
            text-align: center;
        }
        &__icon{
            background-image: url("/assets/img/happy.png") ;
            background-repeat: no-repeat;
            background-size: cover;
            width: 32px;
            height: 32px;
            top: -15px;
            left: 0; /* Establece el anclaje izquierdo */
            right: 0; /* Establece el anclaje derecho */
            position: absolute;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__explore{
        height: 361px;


        &__text{
            padding-top: 40px;
            font: normal normal bold 18px/23px Montserrat;
            letter-spacing: 0px;
        }

        &__button{
            margin-top: 20px;
            &__explore{
                
                border: none;
                background: #00C83C 0% 0% no-repeat padding-box;
                border-radius: 18px;
                color: #FFFFFF;
                width: 151px;
                height: 36px;
                text-decoration: underline;
                cursor: pointer;
            }
        }

    }

    &__medal{
        background-image: url("/assets/img/Icon\ awesome-medal.svg");
        width: 42px;
        height: 42px;
        position: absolute;
        top: 0;
        left: 22px;
    }

    &__recommended{
        position: absolute; 
        right: 12px;
        background-color: #FE9200;
        color: #FFFFFF;
        font: normal normal bold 10px/12px Verdana;
        letter-spacing: 0px;
        padding: 5px;
        border-radius: 2px;
    }
}

.rectangle{
    width: 20px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #00C83C;
    border-radius: 5px;
}