<div class="card card-info {{productClass}}">
    <!-- <div class="card-info__rectangle">
        <div class="rectangle"></div>
    </div>
    <div class="card-info__title">
        <div class="card-info__title__main">{{nameProduct}}</div>
        <div class="card-info__title__number">#{{numberProduct}}</div>
    </div>
    <div class="card-info__line"></div>
    <div class="card-info__service">
        <div class="card-info__service__main">{{detaildProduct}}:</div>
        <div class="card-info__service__number">{{balanceProduct | currencyNoDecimal}}</div>
    </div>
    <div class="card-info__text">
        <div class="card-info__text__icon card-info__text__icon--happy"></div>
        <div class="card-info__text__text" [innerHTML]="detailInfo">
            
        </div>
    </div> -->

    
</div>

